*{
    box-sizing: border-box;
}
body{
    background-color: #fbf3f8;
}
.custom{
    background-color: #a59c9b; outline-color: #a59c9b;
    
    padding-right:4em;
    /* padding: 4px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    border: none;
    border-radius: 12px;
}
.button_cat{
    background-color: #dfd3d1;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 50px;
    margin-right:  50px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
}
.img-rounded{
    border-radius: 15px;
}
.topnav{
    background-color: #fbf3f8;
    margin-left: 50px;
    margin-right:  50px;
}
.slide{
    margin-left: 50px;
    margin-right:  50px;
}
/*shop with category*/
.whole{
    
    text-align: center;
    margin: 0px;
    padding: 0px;
 }
 .shop{
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
}
 .cat_tag{
     font-size: 20px;
     font-weight: 400;
     display: inline-block;
 }
 .all_img{
     display: inline-block;
     margin: 0 35px;
     margin-top: 50px;
    

     width: 210px;
     height: 230px;
     position: absolute;
 }
 .img_container{
     display: inline-flex;
    margin: 0 90px;

 }
 /* second images */
 .img2nd_container{
    display: inline-flex;
    margin: 0 90px;
 }
 .all2nd_img{
    display: inline-block;
    margin: 0 35px;
    margin-top: 350px;
   

    width: 210px;
    height: 210px;
    position: absolute;
}
.cat2nd_tag{
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin-top: 300px;
}
 
 /* Latest, Bestseller, Rating */
 .whole {
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.label2 {
    display:flex;
    text-align: center;
    margin-top: 300px;
    margin-left: 8px;
}

.btn_cat {
    margin: 0 148px;
    border: none;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 80px;
    margin-bottom: 0px;
}

.all_btn {
    display: inline;
}

button:focus {
    border: 2px #dfd3d1;
    background-color: #dfd3d1;
}

.list {
    background-color: #dfd3d1;
    height: 470px;
    margin-left: 157px;
    margin-right: 157.5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0px;
}

.content_header {
    display: inline;
    padding-left: 30px;
}

.content_btn {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

.list_img {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.style_img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 765px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.list_img button {
    visibility: visible;
}

.list_img img:hover {
    opacity: 0.4;
}

.list_img img:hover .list_img button {
    display: block;
}

.cart_btn1 {
    /* position: absolute;
    height: 25px;
    left: 110px;
    top: 240px; */
    display: flex;
    background-color: #5c636a;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 450;
}

.cart_btn2 {
    /* position: absolute;
    height: 25px;
    left: 355px;
    top: 240px; */
    display: flex;
    background-color: #5c636a;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 450;
}

.cart_btn3 {
    /* position: absolute;
    height: 25px;
    left: 595px;
    top: 240px; */
    display: flex;
    background-color: #5c636a;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 450;
}

.cart_btn4 {
    /* position: absolute; */
    display: flex;
    /* height: 25px;
    left: 840px;
    top: 240px; */
    background-color: #5c636a;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 450;
}

