* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

/* nav bar */
nav{
  position: relative;
}
.logo{
  width: 60px;
  margin-left: 37px;
}
.icon-pad{
  padding-right: 20px;
}
.last-icon{
  padding-right: 0px;
  margin-right: 30px;
}

.topnav {
  background-color: white;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}

/* icon color */
.fa-solid{
  color: #383838;
}

/* search with category */
.search-with-cat{
  margin-left: 200px;
  /* margin-top: 55px; */
  position: relative;
  z-index: 9999;
  bottom: 45px;
  left: 100px;

}
.combo-box{
  position: relative;
  height: 40px;
  left: 5px;
  background-color: #A2B38B;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* .search-box{
    position: absolute;
    width: 500px;
    height: 40px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border: px solid #CDD9ED;
    background: #fff;
    transition: border .3s ease;
    text-indent: 10px;
} */
.search-box::placeholder {
      color: #CBD1DC;
      padding-left: 10px;
  }
.search-box,.combo-box:focus {
      outline: none;
      border-color: #E4E9BE;
  }

/* .search-btn{
  position: relative;
  width: 50px;
  height: 40px;
  background-color: #A2B38B;
  border: 1px solid  #A2B38B;;
  left: 490px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  bottom: 1px;
} */

/* image???????????????????????????????????? */
.img-rounded {
    border-radius: 15px;
}

.slide {
    margin-left: 50px;
    margin-right: 50px;
}

/*shop with category*/
/* to make the products in 4 grid */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: 20px;
}

/* to arrange all products inline */
.sub-main {
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border: 1px solid hsl(0, 0%, 93%);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* background-image: linear-gradient(to right top, #9fc088, #8fb68c, #83ab8e, #7c9f8d, #78938a); */
    background-image: linear-gradient(to right top, #9fc088, #91d1bd, #aadae2, #d4e2ef, #eeeeee);
}

/* category name */
.main-container h4 {
    color: black;
    margin-bottom: 2px;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

/* this is necessary to make the text ellipsis when it overflow */
h4 {
    width: 250px;
}

.shop-now {
    display: block;
    text-align: right;
    text-decoration: none;
    font-size: small;
    margin: 10px;
}

/* .sub-main-img {
    margin-top: 8px;
    margin-bottom: 8px;
    width:265;
    height:200;
} */

/* Features section */
/* .features{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 85px;
  background-image: linear-gradient(to right top, #faf5e4, #eaf0d8, #d5ecd2, #bce8d2, #a1e3d8);
  padding-top: 55px;
  padding-bottom: 55px;
} */

/*Latest, Bestseller, Rating*/

/* .product-box {
    margin-top: 20px;
} */

/* to arrange all products in line */
.product-minimal .showcase {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 5px; */
    border: 1px solid hsl(0, 0%, 93%);
    /* padding: 5px; */
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #DDDDDD;
    max-width: 10%;
}

/* to make the products in 3 grid */
.product-minimal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-left: 41px;
    margin-right: 41px;
    text-align: center;
}

/* style for price */
.product-minimal .price {
    font-size: 14px;
    font-weight: 700;
    color: #005555;
    margin-bottom: 5px;
}

/* style for title above the products */
.title {
    padding-bottom: 10px;
    border-bottom: 1px solid hsla(0, 1%, 44%, 0.308);
    margin-bottom: 15px;
  
    text-align: center;
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    font-weight: 700;
    color: #2d2d2d;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* product name */
.product-minimal .showcase-title {
    color: black;
    font-weight: 400;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-left: 7px;
}

/* this is necessary to make the text ellipsis when it overflow */
a h4 {
    width: 250px;
}

.product-showcase a {
    text-decoration: none;
}

.product-showcase img {
    border-radius: 10px;
}

/* style for add to cart button generated from a website*/
.product-showcase button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.product-showcase button:hover {
    background-color: #B4FF9F;
    text-decoration: none;
    transition-duration: 0.1s;
}

.product-showcase button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.product-showcase button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.product-showcase button:focus {
    outline: 1px transparent;
}

.product-showcase button:before {
    display: none;
}

.product-showcase button:-webkit-details-marker {
    display: none;
}

/* style for products image */
.product-box img {
    transition: 0.2s;
    width: 100px;
}

.product-box img:hover {
    transform: scale(1.2);
}

/* Trending */
.trending-label{
    text-align: center;
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1.2px;
    font-weight: 700;
    color: #2d2d2d;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.trending{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.trend-section{
    background-color: white;
}
 /* Back to top button */
.back-to-top-link{
  text-decoration: none;
}
 .button-35 {
   align-items: center;
   background-color: #A2B38B;
   box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
   box-sizing: border-box;
   color: #121212;
   cursor: pointer;
   display: inline-flex;
   flex: 1 1 auto;
   font-family: Inter,sans-serif;
   font-size: 1.2rem;
   font-weight: 700;
   justify-content: center;
   line-height: 1;
   margin: 0;
   outline: none;
   padding: 1rem 1.2rem;
   text-align: center;
   text-decoration: none;
   transition: box-shadow .2s,-webkit-box-shadow .2s;
   white-space: nowrap;
   border: 0;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 1350px;
   height: 40px;
 }
 .button-35 h6{
     margin-top: 5px;
     font-size: 13px;
 }
 
 .button-35:hover {
    background-color: #a2b38bb0;
 }

/* Footer */

footer  a { text-decoration: none; }

footer li { list-style: none; }


footer {
  background: hsl(0, 0%, 13%);
  padding: 30px 0;
}

/* holds the whole footer content */
.footer-nav {
  border-bottom: 1px solid hsl(0, 0%, 27%);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.footer-nav-list:not(:last-child) { margin-bottom: 20px; }

/* main footer nav style */
.footer-nav .nav-title {
  position: relative;
  color:  hsl(0, 100%, 100%);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 5px;
}


/* underline style under footer nav. (contact, product ...) */
.footer-nav .nav-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: hsl(152, 51%, 52%);
  width: 65px;
  height: 1px;
}

/* padding between contents under each */
.footer-nav-item { padding: 5px 0; }

/* all link texts under every coulmn */
.footer-nav-link, .footer-nav-item .content {
  color:hsl(0, 0%, 47%);
  font-size: 14px;
  text-transform: capitalize;
}

/* every link under footer when hover */
.footer-nav-link:hover { color: hsl(152, 51%, 52%); }


/* under contact */
.footer-nav-item.flex {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* address style */
.footer-nav-item .content {
  font-style: normal;
  margin-bottom: 6px;
}

/* style for icons under address */
.footer-nav-item .icon-box {
  color:  hsl(0, 0%, 47%);
  font-size: 25px;
}

/* payment option image and copyright style */
.footer-bottom {
  margin-bottom: 50px;
  text-align: center;
}

.payment-img {
  max-width: 335px;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}

.copyright {
  color: hsl(0, 0%, 47%);
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.copyright a {
  display: inline;
  color: inherit;
  margin-bottom: 0px;
}

.social-links{
  display: block;
  text-decoration: none;
  color:silver;
  padding: 10px;
}

/* to allign social icons */
.socials{
  text-align: left;

}
.insta:hover{
    color:  #cc2366;  
}
.twitter:hover{
  color: #1da1f2;
}

/* label for social media icons */
.social-links h6{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13px;
}

.footer-bottom { margin-bottom: 0; }

 .footer-nav .container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 20px;
  align-content: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
}


/* nav bar when scroll js adds fixed class to the nav*/
#top.fixed .search-with-cat{
  margin-left: 200px;
  /* margin-top: 55px; */
  position: relative;
  z-index: 9999;
  bottom: 45px;
  left: 100px;
}
#top.fixed {
  position: fixed;
  box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
}
#top.fixed .combo-box {
  position: relative;
  height: 30px;
  left: 5px;
  background-color: #A2B38B;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
#top.fixed .search-btn {
  position: relative;
  width: 50px;
  height: 30px;
  background-color: #A2B38B;
  border: 1px solid  #A2B38B;;
  left: 490px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#top.fixed .search-box {
  position: absolute;
  width: 500px;
  height: 30px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  border: px solid #CDD9ED;
  background: #fff;
  transition: border .3s ease;
  text-indent: 10px;
}
#top.fixed .logo {
  width: 30px;
}


.features{
position: relative;
top: 54px;
}

/* .feature-img{

} */

.shop-now{
  color: #2f7780;
}

/*************************************************************************************************************************************/

@media(min-width:320px){
  
  body {
    background-color: white;
    overflow-x: hidden;
  }
  /* search with category */
  .search-with-cat{
    margin-right: 0px;
    z-index: 9999;
    top: 4px;
    margin-bottom: 45px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .search-box{
    position: absolute;
    width: 200px;
    height: 40px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border: px solid #CDD9ED;
    background: #fff;
    transition: border .3s ease;
    text-indent: 10px;
  }

  .search-btn{
  position: relative;
  width: 50px;
  height: 40px;
  background-color: #A2B38B;
  border: 1px solid  #A2B38B;;
  left: 200px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  bottom: 0;
  }

  nav{
  position: relative;
  width: 100%;
  }

  .sub-main {
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border: 1px solid hsl(0, 0%, 93%);
    padding: 5px;
    width: 185px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* background-image: linear-gradient(to right top, #9fc088, #8fb68c, #83ab8e, #7c9f8d, #78938a); */
    background-image: linear-gradient(to right top, #9fc088, #91d1bd, #aadae2, #d4e2ef, #eeeeee);
}

  .sub-main-img{
    width:175px; 
    height:150px;
  }

  .sub-main h4{
    font-size: 15px;
  }

    /*Advert panel*/
  .features{
  display: grid; 
  align-items: center;
  /* justify-content:flex-start; */
  width: 90%;
  flex-wrap: wrap;
  /* gap: 120px; */
  row-gap: 50px;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 80px;
  background-image: linear-gradient(to right top, #faf5e4, #eaf0d8, #d5ecd2, #bce8d2, #a1e3d8);
  padding-top: 10px;
  padding-left: 43vw;
  padding-bottom: 10px;
  }

  #feature{
    width: 35%;
  }
  
  .product-box .showcase-title{
    font-size: 12px;
  }

  .product-box h2{
    font-size: 17px;
    margin-top: 100px;
  }

  .trending{
  max-width: 600px;
  position: relative;
  margin: auto;
  }

  .trend-section h2{
    margin-top: 50px;
  }

  img .trending-brnads{
  vertical-align: middle;
  }
  .slide{
  display: none;
  }

  /* The dots/bullets/indicators */
  /* .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }

  .actives {
  background-color: #717171;
  } */

  /* Fading animation */
  .fade {
  animation-name: fade;
  animation-duration: 1.5s;
  }

  @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }



  /* .sub-main-img {
  margin-top: 8px;
  margin-bottom: 8px;
  width:26;
  height:20;
  } */


  .footer-nav .container {
  display: flex;
  flex-flow: wrap;
  margin: 20px;
  /* padding-left: 10vw;   */
}

  .footer-nav-list:not(:last-child) { margin-bottom: 0; margin-right: 20px; }
  .footer-bottom { margin-bottom: 0; }
  .socials{
  display: inline;
  justify-content: center;
  }

  .button-35 {
  align-items: center;
  background-color: #A2B38B;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  height: 40px;
  }

}



/*************************************************************************************************************************************/

@media(min-width:769px){

    /* search with category */
  .search-with-cat{
    margin-right: 0px;
    z-index: 9999;
    top: 45px;
    margin-bottom: 45px;
    margin-left: 0px;
    padding-left: 0px;
  }


  /* search with category */
  .search-with-cat{
    margin-right: 0px;
    z-index: 9999;
    top: 4px;
    margin-bottom: 45px;
    margin-left: 10%;
    padding-left: 0px;
  }

  .search-box{
    position: absolute;
    width: 400px;
    height: 40px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border: px solid #CDD9ED;
    background: #fff;
    transition: border .3s ease;
    text-indent: 10px;
  }

  .search-btn{
  position: relative;
  width: 50px;
  height: 40px;
  background-color: #A2B38B;
  border: 1px solid  #A2B38B;;
  left: 400px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  bottom: 0;
  }

  .sub-main {
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border: 1px solid hsl(0, 0%, 93%);
    padding: 5px;
    width: 220px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* background-image: linear-gradient(to right top, #9fc088, #8fb68c, #83ab8e, #7c9f8d, #78938a); */
    background-image: linear-gradient(to right top, #9fc088, #91d1bd, #aadae2, #d4e2ef, #eeeeee);
}

  .sub-main-img{
    width:210px; 
    height:150px;
  }

  .sub-main h4{
    font-size: 18px;
  }


  /*Advert panel*/
  .features{
    display: flex; 
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    flex-wrap: wrap;
    /* gap: 120px; */
    column-gap: 70px;
    margin-left: 0;
    margin-bottom: 150px;
    background-image: linear-gradient(to right top, #faf5e4, #eaf0d8, #d5ecd2, #bce8d2, #a1e3d8);
    padding-top: 55px;
    padding-left: 100px;
    padding-bottom: 55px;
    }

  #feature{
    width: 25%;
  }
  .product-box .showcase-title{
    font-size: 15px;
  }

  .product-box h2{
    font-size: 20px;
    margin-top: 100px;
  }

  
}


/*************************************************************************************************************************************/


@media(min-width: 1000px){
  
  /* search with category */
  .search-with-cat{
    margin-right: 0px;
    z-index: 9999;
    top: 45px;
    margin-bottom: 45px;
    margin-left: 0px;
    padding-left: 0px;
  }


  /* search with category */
  .search-with-cat{
    margin-right: 0px;
    z-index: 9999;
    top: 4px;
    margin-bottom: 45px;
    margin-left: 10%;
    padding-left: 0px;
  }

  .search-box{
    position: absolute;
    width: 400px;
    height: 40px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border: px solid #CDD9ED;
    background: #fff;
    transition: border .3s ease;
    text-indent: 10px;
  }

  .search-btn{
  position: relative;
  width: 50px;
  height: 40px;
  background-color: #A2B38B;
  border: 1px solid  #A2B38B;;
  left: 400px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  bottom: 0;
  }


  .sub-main {
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border: 1px solid hsl(0, 0%, 93%);
    padding: 5px;
    width: 280px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* background-image: linear-gradient(to right top, #9fc088, #8fb68c, #83ab8e, #7c9f8d, #78938a); */
    background-image: linear-gradient(to right top, #9fc088, #91d1bd, #aadae2, #d4e2ef, #eeeeee);
}

  .sub-main-img{
    width:265px; 
    height:200px;
  }

  .sub-main h4{
    font-size: 20px;
  }

  .features{
    display: flex; 
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    flex-wrap: wrap;
    /* gap: 120px; */
    column-gap: 150px;
    /* margin-left: 50px; */
    margin-bottom: 150px;
    background-image: linear-gradient(to right top, #faf5e4, #eaf0d8, #d5ecd2, #bce8d2, #a1e3d8);
    padding-top: 55px;
    padding-left: 18%;
    padding-bottom: 55px;
    }

    #feature{
      width: 20%;
    }

    .product-box .showcase-title{
      font-size: 17px;
    }
  
    .product-box h2{
      font-size: 22px;
      margin-top: 100px;
    }
    /* .showcase-container{
      
    } */

    .footer-nav .container {
      display: flex;
      flex-flow: wrap;
      /* margin: 20px; */
      margin-left: 200px;
      /* padding-left: 10vw;   */
    }

}



