*{
    box-sizing: border-box;
}
body{
    background-color: #fbf3f8;
}
.custom{
    background-color: #a59c9b; outline-color: #a59c9b;
    
    padding-right:4em;
    /* padding: 4px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    border: none;
    border-radius: 12px;
}
.button_cat{
    background-color: #dfd3d1;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 50px;
    margin-right:  50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
}
.img-rounded{
    border-radius: 15px;
}
.topnav{
    background-color: #fbf3f8;
    margin-left: 50px;
    margin-right:  50px;
}
.slide{
    margin-left: 50px;
    margin-right:  50px;
}
/*shop with category*/
.whole{
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
    padding: 0px;
 }
 .shop{
     text-align: left;
     margin-left: 50px;
     margin-top: 30px;
 }
 .label{
     text-align: center;
     margin-top: 50px;
 }
 .cat_tag{
     font-size: 15px;
     background-color: #bdbdbd;
     width: 140px;
     height: 20px;
     border-radius: 50px ;
     text-align: left;
     display: inline-block;
     padding-top: 3px;
     padding-left: 3px;
     margin: 0 100px;
 }
 .whole img{
     display: inline-block;
     margin: 0 60px;
     margin-top: 30px;
 }
 
 
/* .main-cat::after{
    content: "";
    clear: both;
    display: table;
}
.cat_section{
    float: left;
    width: 30%;
    padding: 5px;
}
.img{
    border-radius: 15px;   
}
.cat_name{
text-align: center;
} */
