* {
    box-sizing: border-box;
    /* overflow-x: hidden; */

}

.wrapper {
    width: 68em;
}
body {
    color: #777;
    font-family: 'Open Sans', Arial, sans-serif;
        background: repeating-linear-gradient(112.5deg,rgba(0.76,0.76,0.76,0.01) 0px 53px, rgba(0.11,0.11,0.11,0.03) 53px 106px, rgba(0.21,0.21,0.21,0.03) 106px 159px, rgba(0.66,0.66,0.66,0.02) 159px 212px, rgba(0.79,0.79,0.79,0.01) 212px 265px),repeating-linear-gradient(0deg,rgba(0.33,0.33,0.33,0.02) 0px 53px, rgba(0.44,0.44,0.44,0.01) 53px 106px, rgba(0.83,0.83,0.83,0.02) 106px 159px, rgba(0.90,0.90,0.90,0.03) 159px 212px, rgba(0.35,0.35,0.35,0.01) 212px 265px, rgba(0.21,0.21,0.21,0.03) 265px 318px, rgba(0.89,0.89,0.89,0.01) 318px 371px, rgba(0.26,0.26,0.26,0.00) 371px 424px),repeating-linear-gradient(67.5deg,rgba(0.29,0.29,0.29,0.01) 0px 63px, rgba(0.16,0.16,0.16,0.01) 63px 126px, rgba(0.01,0.01,0.01,0.02) 126px 189px, rgba(0.86,0.86,0.86,0.02) 189px 252px, rgba(0.08,0.08,0.08,0.00) 252px 315px, rgba(0.67,0.67,0.67,0.02) 315px 378px, rgba(0.36,0.36,0.36,0.03) 378px 441px, rgba(0.45,0.45,0.45,0.03) 441px 504px, rgba(0.54,0.54,0.54,0.02) 504px 567px, rgba(0.50,0.50,0.50,0.00) 567px 630px),repeating-linear-gradient(22.5deg,rgba(0.75,0.75,0.75,0.02) 0px 61px, rgba(0.03,0.03,0.03,0.00) 61px 122px, rgba(0.58,0.58,0.58,0.00) 122px 183px, rgba(0.36,0.36,0.36,0.02) 183px 244px, rgba(0.14,0.14,0.14,0.03) 244px 305px, rgba(0.26,0.26,0.26,0.02) 305px 366px, rgba(0.85,0.85,0.85,0.00) 366px 427px, rgba(0.98,0.98,0.98,0.00) 427px 488px, rgba(0.34,0.34,0.34,0.01) 488px 549px, rgba(0.34,0.34,0.34,0.01) 549px 610px, rgba(0.41,0.41,0.41,0.02) 610px 671px),repeating-linear-gradient(135deg,#d4d1e4 0px 3px, transparent 3px 81px),repeating-linear-gradient(0deg,#d4d1e4 0px 2px, transparent 2px 43px),repeating-linear-gradient(90deg,#d4d1e4 0px 1px, transparent 1px 73px),repeating-linear-gradient(135deg,#d4d1e4 0px 2px, transparent 2px 73px),repeating-linear-gradient(0deg,#d4d1e4 0px 1px, transparent 1px 91px),repeating-linear-gradient(90deg,#d4d1e4 0px 2px, transparent 2px 47px),repeating-linear-gradient(135deg,#d4d1e4 0px 1px, transparent 1px 73px),repeating-linear-gradient(0deg,#d4d1e4 0px 2px, transparent 2px 95px),repeating-linear-gradient(90deg,#d4d1e4 0px 1px, transparent 1px 89px),repeating-linear-gradient(0deg,#d4d1e4 0px 1px, transparent 1px 43px),repeating-linear-gradient(0deg,#d4d1e4 0px 2px, transparent 2px 56px),repeating-linear-gradient(90deg,#d4d1e4 0px 1px, transparent 1px 19px),repeating-linear-gradient(45deg,#d4d1e4 0px 2px, transparent 2px 34px),repeating-linear-gradient(0deg,#d4d1e4 0px 2px, transparent 2px 71px),repeating-linear-gradient(90deg,#d4d1e4 0px 3px, transparent 3px 56px),linear-gradient(135deg, #d4d1e4, #d4d1e4);
}

.product-grid.product-grid--flexbox .product-grid__title {
    height: auto;
}
.product-grid.product-grid--flexbox .product-grid__title:after {
    display: none;
}

.product-grid__product {
    padding: 1rem;
    position: relative;
    cursor: pointer;
    background: rgb(255, 255, 255,0.4);
    backdrop-filter: blur(3px);
    border-radius: 25px;
    border: 2px solid rgb(173, 179, 180);
    box-shadow: 10px 5px 10px 10px rgb(68, 60, 60);
}

.product-grid__img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.product-grid__title {
    margin-top: 0.875rem;
    display: block;
    font-size: 1.125em;
    color: #222;
    height: 3em;
    overflow: hidden;
    position: relative;
}
.product-grid__title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.4em;
    height: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
.product-grid__price {
    color: #e91e63;
    font-weight: bold;
    letter-spacing: 0.4px;
}
.product-grid__extend-wrapper {
    position: relative;
}
.product-grid__extend {
    display: none;
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    margin: 0.4375rem -1rem 0;
    box-shadow: 0px 0px 0px 1px #eee;
    background: #fff;
    border-radius: 0 0 4px 4px;
}
.product-grid__extend:before {
    content: "";
    height: 0.875rem;
    width: 100%;
    position: absolute;
    top: -0.4375rem;
    left: 0;
    background: #fff;
}
.product-grid__description {
    font-size: 0.875em;
    margin-top: 0.4375rem;
    margin-bottom: 0;
}
.product-grid__btn {
    display: inline-block;
    font-size: 0.875em;
    color: #777;
    background: #eee;
    padding: 0.5em 0.625em;
    margin-top: 0.875rem;
    margin-right: 0.625rem;
    cursor: pointer;
    border-radius: 4px;
}
.product-grid__btn i.fa {
    margin-right: 0.3125rem;
}
.product-grid__add-to-cart {
    color: #fff;
    background: #97C4B8;
}
.product-grid__add-to-cart:hover {
    background: #B3E8E5;
}
.product-grid__view {
    color: #777;
    background: #eee;
}
.product-grid__view:hover {
    background: #fff;
}
/*********************************************************************************************************/

@media(min-width:320px){

    body{
        overflow-x: hidden;
    }
    .product-grid__product-wrapper {
        padding: 1rem;
        float: left;
        width: 75vw;
        margin-left: 10vw;
        margin-bottom: 150px;

    }

    .product-grid__wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .product-grid__img-wrapper {
        width: 100%;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 200px;
    }

    .product-grid__product .product-grid__extend {
        display: block;
    }

    .product-grid__product {
        box-shadow: 0px 0px 0px 1px #eee;
        z-index: 50;
    }

}

/*********************************************************************************************************************/

@media(min-width:769px){
    body{
        overflow-x: hidden;
    }
    .product-grid__product-wrapper {
        padding: 1rem;
        float: left;
        width: 35vw;
        margin-left: 5vw;
        margin-bottom: 150px;
    }

    .product-grid__wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 9%;
    }

    .product-grid__img-wrapper {
        width: 100%;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 200px;
    }

    .product-grid__product .product-grid__extend {
        display: block;
    }

    .product-grid__product {
        box-shadow: 0px 0px 0px 1px #eee;
        z-index: 50;
    }
}
/*********************************************************************************************************************/

@media(min-width:1000px){
    body{
        overflow-x: hidden;
    }

    .product-grid__product .product-grid__extend {
        display: none;
    }

    .wrapper{
        width: 100%;
    }

    .product-grid__product-wrapper {
        /* padding: 1rem; */
        float: left;
        width: 25vw;
        margin-left: 2vw;
        margin-bottom: 10vh;
    }

    .product-grid__wrapper{
        display: flex;
    }

    .product-grid__img-wrapper {
        width: 100%;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 30vh;
    }

    .product-grid__product:hover .product-grid__extend {
        display: inline;
    }

    .product-grid__product:hover {
        box-shadow: 0px 0px 0px 1px #eee;
        z-index: 500;
    }
    img{
        width: 50px
    }
}
