@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');


 * {
	 box-sizing: border-box;
}
 *::before, *::after {
	 box-sizing: border-box;
}
body {
	 font-family: 'Pontano Sans', sans-serif;
	 font-size: 1.125rem;
	 line-height: 1.5;
	 margin: 0;
	 padding: 0;
	 color: #888;
	 background: #fff;
	 text-rendering: optimizeLegibility;
}


#DisplayProduct{
	background-color: rebeccapurple;
}
 ul {
	 padding: 0;
	 margin: 0;
	 list-style: none;
}

 h1, h2, h3, h4 {
	 color: #333;
	 font-weight: normal;
	 margin: 1.75rem 0 1rem 0;
}
 h1 {
	 font-size: 2.5rem;
}
 h2 {
	 font-size: 2.125rem;
	 margin: 0;
}
 
 section {
	 display: block;
}
 img {
	 max-width: 100%;
	 height: auto;
	 object-fit: cover;
}


 .price {
	 margin: 0;
}

 .description {
	 border-top: 0.0625rem solid #e3dddd;
	 margin: 2rem 0;
	 padding: 1rem 0 0 0;
}
 .add-to-cart {
	 position: relative;
	 display: inline-block;
	 background: #3e3e3f;
	 color: #fff;
	 border: none;
	 border-radius: 0;
	 padding: 1.25rem 2.5rem;
	 font-size: 1rem;
	 text-transform: uppercase;
	 cursor: pointer;
	 transform: translateZ(0);
	 transition: color 0.3s ease;
	 letter-spacing: 0.0625rem;
}
 .add-to-cart:hover::before {
	 transform: scaleX(1);
}
 .add-to-cart::before {
	 position: absolute;
	 content: '';
	 z-index: -1;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: #565657;
	 transform: scaleX(0);
	 transform-origin: 0 50%;
	 transition: transform 0.3s ease-out;
}
 .container {
	 margin: auto;
	 padding: 0 1rem;
	 max-width: 75rem;
	 width: 100%;
}
 .grid > [class*="column-"] {
	 padding: 1rem;
}
 .grid.menu, .grid.product {
	 border-bottom: 0.0625rem solid #e3dddd;
}
 .grid.menu > [class*="column-"] {
	 padding: 0.5rem 1rem 0.5rem 1rem;
}
 .grid.product {
	 padding: 0 0 1.5rem 0;
}
 .grid.second-nav > [class*="column-"] {
	 padding: 0.5rem 1rem;
}

 .product-image {
	 display: none;
}
 .image-list li {
	 margin: 0;
}

 @media (min-width: 769px) {

	 .product-image img, .image-list img {
		 width: 100%;
	}
	 .product-image {
		 display: block;
	}
	 .product-image img {
		 height: 52vh;
	}
	 .product-image img.active {
		 display: block;
		 margin: 0 0 0.75rem 0;
	}
	 .image-list {
		 display: flex;
		 overflow: hidden;
	}
	 .image-list li {
		 margin: 0 0.75rem 0 0;
		 flex-basis: 100%;
	}
	 .image-list li:nth-child(3) {
		 margin: 0;
	}
	 .image-list img {
		 height: 10rem;
		 width: 100%;
		 transition: opacity 0.3s ease;
		 cursor: pointer;
	}
	 .image-list img:hover {
		 opacity: 0.7;
	}
	 nav ul {
		 justify-content: flex-end;
	}
	 .toggle-nav {
		 display: none;
	}
	 .flex-nav {
		 display: block;
	}
	 .flex-nav ul {
		 display: flex;
		 flex-direction: row;
		 position: relative;
		 justify-content: flex-end;
	}
	 .flex-nav ul li {
		 font-size: 1.125rem;
		 margin: 0 1.5rem 0 0;
	}
	 .flex-nav ul li:nth-child(4) {
		 margin: 0;
	}
}
